body {
    font-family: 'Hanken Grotesk', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 750px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    display: flex;
    margin: 10% auto;
    align-items: start;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, .05);


}

.first {
    background: linear-gradient(#7857ff, #2e2be9);
    width: 100%;
    border-radius: 30px;
    padding: 20px 0;
}

.second {
    width: 100%;
    align-content: ;
    justify-content: center;
}

.wrapper {

    padding: 40px;
}

.circle {
    display: grid;
    align-content: center;
    justify-items: center;
    width: 250px;
    height: 250px;
    background: linear-gradient(#2e2be9, #7857ff);
    border-radius: 150px;
    margin: 40px auto;
    color: white;
}

p {
    margin: 0px auto;
    font-size: 18px;
    color: white;

}

.scored {
    width: 55%;
    text-align: center;
    opacity: 0.5;
}

h2,
h3 {
    color: white;
    text-align: center;
}

.result {
    color: white;
    opacity: 0.5;

}

.sum {
    color: black;
    font-weight: 900;
    display: inline-block;
    margin-top: 10px;
}

h1 {
    font-size: 6rem;
    margin: 0;

}

h2 {
    font-size: 2rem;
    margin: 20px 0;
}

.ofhundred {
    margin: 0px;
    opacity: 0.5;
}

button {
    width: 300px;
    height: 50px;
    background-color: hsl(224, 30%, 27%);
    border-radius: 30px;
    color: white;
    font-weight: 700;
    border: 0;

}

.icon {
    background-color: grey;
    padding: 10px 10px;
    margin: 30px 0px;
    display: flex;
    align-items: center;

}

#reaction {
    color: hsl(0, 100%, 67%);
    margin-right: 0;
}

#react {
    color: hsl(0, 100%, 67%);

}

#memory {
    color: hsl(39, 100%, 56%);
    margin-right: 0;
}

#mem {
    color: hsl(39, 100%, 56%);
}

#verbal {
    color: hsl(166, 100%, 37%);
    margin-right: 0;
}

#verb {
    color: hsl(166, 100%, 37%);
}

#visual {
    color: hsl(234, 85%, 45%);
    margin-right: 0;
}

#vis {
    color: hsl(234, 85%, 45%);
}

#img1 {
    background-color: hsl(0, 100%, 96%);
    border-radius: 5px;

}

#img2 {
    background-color: hsl(39, 100%, 96%);
    border-radius: 5px;

}

#img3 {
    background-color: hsl(166, 100%, 96%);
    border-radius: 5px;

}

#img4 {
    background-color: hsl(234, 85%, 96%);
    border-radius: 5px;

}

.icon-wrapper {
    display: flex;

}

span img {
    margin-right: 10px;
}

p span {
    color: gray;
}

button:hover {
    background: linear-gradient(#2e2be9, #7857ff);
    cursor: pointer;
    letter-spacing: 0.01rem;
}

@media screen and (max-width: 400px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 0px;
        width: 375px;
        height: 100%;

    }

    .first {
        height: 80vh;
    }


}

footer {
    position: absolute;
}

button {
    width: 100%;
    text-align: center;

}

p {
    font-size: 1rem;
}
